<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">

			<?if $(var.Platform)=x64 ?>
			<!--Program Files 64 bit-->
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="ConsoleHelloInstall.Installer" />
			</Directory>
			<?else?>
			<!-- Program files 32 bit-->
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ConsoleHelloInstall.Installer" />
			</Directory>
			<?endif?>
			<!--PRogramFiles folder-->
			
			
		</Directory>
		
	</Fragment>
	
	
</Wix>
